[user]
	email = 25113632+martokk@users.noreply.github.com
	name = martokk
[safe]
	directory = /config/dotfiles
	directory = /config/dotfiles
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
